/* .text-area {
	width: ;
} */
body {
	padding: 40px;
	width: 100%;
	height: 100%;
	margin: 0;
}
* {
	box-sizing: border-box;
}

.text-area {
	width: 100%;
	border: 2px solid green;
	min-height: 400px;
	background: black;
	color: green;
	font-size: 18px;
	padding: 15px;
	line-height: 1.5;
	font-weight: bold;
}

.keyboard {
	display: flex;
	justify-content: flex-start;
	width: 800px;
	margin: 20px auto 0;
	gap: 10px;
	flex-wrap: wrap;

}
.lang {
	width: 100%;
	text-align: right;
	margin-bottom: 20px;
	color: green;
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 10px;
}

.lang .key-btn {
	background: green;
	color: #fff;
	pointer-events: none;
}

.key-btn {
	background: none;
	border-radius: 4px;
	border: 1px solid green;
	padding: 5px;
	min-width: 40px;
	font-size: 20px;
	color: green;
	flex-shrink: 0;
	position: relative;
}

.key-btn.press {	
	background: green;
	color:#fff;
}

.key-btn.space {
	width: 48%;
	flex-shrink: 1;
}
[data-btn="shift"] {
	padding: 5px 75px;
}
[data-btn="enter"] {
	padding: 5px 34px;
}

[data-btn="shift"] ~ [data-btn="shift"] {
	padding: 5px 0;
}

[data-btn="capslock"] {
	padding: 5px 5px;
}

[data-btn="tab"] {
	padding: 5px 15px;
}
[data-btn="backspace"] {
	padding: 5px 25px;
}

.extra-number {
	position: absolute;
	top: 3px;
	right: 3px;
	font-size: 10px;
	color: darkgreen;
	font-weight: bold;
}

.only-ru-letter .extra-number {
	display: none;
}
