/* .text-area {
	width: ;
} */
body {
	padding: 40px;
	width: 100%;
	height: 100%;
	margin: 0;
	--color-theme: green;
	--color-bg: black;
	--letters: #fff;
}

body{
	--color-theme: #e9c46a;
	--color-bg: #264653;
	--letters: #2a9d8f;
}

* {
	box-sizing: border-box;
}

.text-area {
	width: 100%;
	border: 2px solid var(--color-theme);
	min-height: 400px;
	background: var(--color-bg);
	color: var(--color-theme);
	font-size: 18px;
	padding: 15px;
	resize: none;
	line-height: 1.5;
	font-weight: bold;
}

.keyboard {
	display: flex;
	justify-content: flex-start;
	width: 800px;
	margin: 20px auto 0;
	gap: 10px;
	flex-wrap: wrap;

}
.lang {
	width: 100%;
	text-align: right;
	margin-bottom: 20px;
	color: var(--color-theme);
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 10px;
	flex-wrap: wrap;
}

.change-lang {
	display: flex;
	align-items: center;
	width: 100%;
	column-gap: 20px;
}

.lang .key-btn {
	background: var(--color-theme);
	color: var(--letters);
	pointer-events: none;
}
.lang .change-lang-btn {
	pointer-events: all;
	cursor: pointer;
}
.lang .change-lang-btn:hover {
	color: var(--color-theme);
	background: var(--letters);
}
.key-btn {
	background: var(--letters);
	border-radius: 4px;
	border: 1px solid var(--color-theme);
	padding: 5px;
	min-width: 40px;
	transition: .3s all;
	font-size: 20px;
	color: var(--color-theme);
	flex-shrink: 0;
	position: relative;
}
.key-btn:hover {
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.24);
	cursor: pointer;
}
.key-btn:focus {
	box-shadow: 0px 0px 0px .5px rgba(0, 0, 0, 0.24);
	transform: scale(.95);
}

.key-btn.caps-lock {
	background: var(--color-theme);
	color: var(--letters);
}

.key-btn.press {	
	background: var(--color-theme);
	color:var(--letters);
}

.key-btn.space {
	width: 48%;
	flex-shrink: 1;
}
[data-btn="shift"] {
	padding: 5px 75px;
}
[data-btn="enter"] {
	padding: 5px 34px;
}

[data-btn="shift"] ~ [data-btn="shift"] {
	padding: 5px 0;
}

[data-btn="capslock"] {
	padding: 5px 5px;
}

[data-btn="tab"] {
	padding: 5px 15px;
}
[data-btn="backspace"] {
	padding: 5px 25px;
}

.extra-number {
	position: absolute;
	top: 3px;
	right: 3px;
	font-size: 10px;
	color: var(--color-theme);
	font-weight: bold;
}

.only-ru-letter .extra-number {
	display: none;
}
